<div class="bg-darker h-100 d-flex justify-content-center align-items-center">
  

      
  <div class=" bg-dark h-50 w-30 p-3  outer-div-responsive">
      <h4 class="text-secondary">Shopping cart</h4>
      
      
       
    
<ul id="scrollablelist"  class="list-group  w-100 shadow h-75 scrollbar   scrollbar-secondary">
  
 
  <li class="list-group-item w-100 bg-darker d-flex justify-content-between list-unstyled w-100 p-3 align-items-center  " 
  *ngFor="let item of cartItems" >
    <p  class="m-0">{{item}}</p> 
    <button (click)="delete(item)" class=" w-25 bg-danger btn-text-cart-size btn-small rounded">DELETE</button>
  </li>

</ul>
<button (click)="gotoSongs()" class="w-45 btn-medium btn-text-goto-cart-size pt-2 pb-2 mt-3 btn-color rounded"><b>GO BACK</b></button>
</div>



</div>
