<div class="bg-darker h-100 d-flex justify-content-center align-items-center">
  
  <div class="p-3 w-30 h-50 bg-dark outer-div-responsive">
    <div class="text-light d-flex justify-content-between">
      
      <h4 class="text-secondary">Songs list</h4>
      
    <div class="d-flex align-items-center">
      
        <span style="transform: translate(10px, -10px);" class="" *ngIf="selectedSongsList.length !== 0" class="badge badge-pill badge-danger ">{{selectedSongsList.length}}</span>
    <i class="text-large fas fa-shopping-cart mr-3" ></i>
    <div class="dropdown">
      <button class="btn text-light btn-color dropdown-toggle btn-text-cart-size" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        SORT BY
      </button>
      <div class="dropdown-menu p-0 m-0 " aria-labelledby="dropdownMenuButton">
        <button class="bg-dark pr-1 d-inline-block w-100  text-light p-0" (click)="sortAZ()">Sort a - z</button>
      </div>
    </div>
  </div>
  </div>
<ul id="scrollablelist"  class="list-group w-100 shadow h-75 scrollbar  scrollbar-secondary">
  
 
  <li class="list-group-item w-100 bg-darker d-flex justify-content-between list-unstyled w-100 p-3 align-items-center  " 
  *ngFor="let song of songsList" >
    <p  class="m-0">{{song}}</p> 
    <button (click)="addSong(song)" class=" w-25 btn-color btn-text-cart-size btn-small rounded">ADD TO CART</button>
  </li>

</ul>
<button (click)="gotoCart()" class="w-45 btn-medium btn-text-goto-cart-size pt-2 pb-2 float-right mt-3 btn-color rounded"><b>GO TO CART</b></button>
</div>

</div>


