/* You can add global styles to this file, and also import other style files */


p{
    font-size: 0.75rem;
    color: white;
}

button{
    
    color: white ;
    border: none ;


}

/* background colors start */
.bg-darker {
    background-color: rgb(41, 41, 41);
}
/* background colors end */

/* text  start*/
.text-small {
    font-size: 0.75rem;
}

.text-large {
    font-size: 1.5rem;
}
/* text end */

/* box widths and heigths start */
.w-30 {
    width: 30%;
}

.w-45{
    width: 40%;
}

.h-65{
    height: 65%;
}
/* box widths and heigths end*/



 /* button section start*/
 .btn-color{
     background-color: rgb(96, 50, 204);
 }

 .btn-small {
    height: 1.25rem !important;
}

.btn-medium {
    height: 1.75rem !important;
}

.btn-text-cart-size{
    font-size: 0.50rem;
}

.btn-text-goto-cart-size{
    font-size: 0.75rem;
}
/* button section end*/



  
    .scrollbar {
        
        
        background: rgba(255, 255, 255, 0);
        overflow-y: auto;
        
        }

        .scrollbar-secondary::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
            background-color: rgba(245, 245, 245, 0); 
            
        }
            
            .scrollbar-secondary::-webkit-scrollbar {
            width: 12px;
            background-color: rgba(0, 0, 0, 0);
            
             }
            
            
            .scrollbar-secondary::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(82, 82, 82, 0.1);
            background-color: #777777; 
        
        }
            
            .scrollbar-secondary {
            scrollbar-color: #747474 rgb(110, 110, 110);
            
            
            }

            @media only screen and (max-width: 600px) {
                .outer-div-responsive{
                    width: 75% !important;
                    height: 75% !important;
                }
            }